@media only screen and (max-width: 800px) {
  .logo {
    display: none;
  }

  .sidebar { 
    display: none;
  }
  .mini-sidebar-group {
    position: fixed;
    margin-right: 10px;
    right: 0px;
    z-index: 1000;
    opacity: 0.4;
  }

  .mini-sidebar-group:hover::before {
    position: fixed;
    margin-right: 10px;
    right: 0px;
    z-index: 1000;
    opacity: 0.7;
  }

  .mini-sidebar-group:hover::after {
    position: fixed;
    margin-right: 10px;
    right: 0px;
    z-index: 1000;
    opacity: 0.7;
  }

  .mini-sidebar-group:hover {
    position: fixed;
    margin-right: 10px;
    right: 0px;
    z-index: 1000;
    opacity: 1;
  }

  .mini-sidebar {
    width: 40px; 
    background-color: #0095ff;
    margin-left: 10px;
  }

  .radius-top {
    width: 40px; 
    background-color: #0095ff;
    margin-top: 10px;
    margin-left: 10px;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
  }

  .radius-bottom {
    width: 40px; 
    background-color: #0095ff;
    margin-left: 10px;
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
  }

  .content {
    padding-left: 15px
  }

  .thn {
    margin-left: 45px;
  }
}

@media only screen and (min-width: 801px) {
  .card-img-cover {
    width: 100%;
    height: 14vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  .mini-sidebar-group {
    display: none;
  }
  .sidebar {
    width: 60px; 
    min-height: 100vh; 
    background-color: #0095ff; 
    position: fixed;
  }

  .content {
    padding-left: 70px
  }
}
